/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #f5f0ed;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}
a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.detail_box {
    height: 180px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.detail {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-left: 40px;
}
.detail_t {
    background-color:#d4c6bd;
    padding-left: 30px;
    height: 100px;
    color: black;
    font-size: 40px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.button_box {
    display: flex;
    flex-direction: row;
}
.button {
    font-weight: 300;
    font-size: 16px;
    width: 90px;
    height: 30px;
    background-color: #d6b7b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-left: 20px;
    border-radius: 7px;
}
.show_comment {
    display: flex;
    flex-direction: column;
}