{% extends 'base.html' %}

{% block title %} List {% endblock %}
{% block content %}
<div class = 'detail_box'>
    <div class = 'detail_t'>
        {{todo.title}}
        <div class = 'button_box'>
            {% if user.is_authenticated and todo.author.pk == user.pk %}
            <div class = 'button'>
                <a href = "{% url 'edit' todo.pk %}" style = 'color:black;'><span id = 'icon' class="material-icons">
                    edit
                    </span></a>
            </div>
            <div class = 'button'>
                <a href = "{% url 'delete' todo.pk %}" style = 'color:black;'><span class="material-icons" id = 'icon'>delete</span></a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class = 'detail'>
        {{todo.content}}
    </div>
    <div class = 'detail_d'>
        Due {{todo.due}}
    </div>
    <div class = 'detail_d'>
        <img src ="{{todo.img}}" width="300px" height="300px"/>
    </div>
</div>
<div class = 'comment'>
    <div class = 'show_comment'>
        {% for comment in todo.comments.all %}
        <div class = 'comment_list'>
            <div class = 'comment_word'>
                {{comment.comment}}
            </div>
            {% if user.is_authenticated and comment.author.pk == user.pk %}
                <a href="{% url 'delete_comment' todo.pk comment.pk %}">
                    <span class="material-icons" id = 'icon' style = 'color:black;'>delete</span>
                </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class = 'type_comment'>
        <form method = 'POST'>
            {% csrf_token %}
            <input type = 'text' name = 'comment' placeholder = 'type in comments'>
            <button type = 'submit'>COMMENT</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
