{% extends 'base.html'%}
{% block title %} EDIT {% endblock %}
{% block content %}
    <div class = 'title_b'>
        <p class = 'title'>EDIT</p>
    </div>
    <form method = 'POST'>
        {%csrf_token%}
        <div class = 'new_box'>
            <div class = 'new'>
                <p class = 'new_w'> TITLE </p>
                <input type = 'text' name = 'title' value = '{{todo.title}}'>
            </div>
            <div class='new'>
                <p class = 'new_w'> DETAIL </p>
                <input type = 'text' name ='content' value = '{{todo.content}}'>
            </div>
            <div class ='new'>
                <p class = 'new_w'> DUE </p>
                <input type = 'date' name='due' value = '{{todo.due}}'>
            </div>
        </div>
        <button class = 'button' type='submit'> SAVE </button>
    </form>
{% endblock %}