{% extends 'base.html' %}
{% block title %} LIST {% endblock %}
{% block content %} 
    <div class = 'list_b'>
        {% for todo in todos %}
        <div class = 'list'>
            <div class = 'list_t'>
                <a href = "{% url 'detail' todo.pk %}" style = 'color:black;'> {{todo.title}} </a>
            </div>
            <div class = 'list_c'>
                {{todo.content}}
                {{todo.img}}
            </div>
            <div class = 'list_d'>
                {{todo.due|timeuntil}} left
            </div>
        </div>
        {% endfor %}
        {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <img src="{{ post.img }}" alt="{{ post.title}}">
        </div>
        {% endfor %}
    </div>
{% endblock %}
