{% extends 'base.html' %}
{% block title %}
My page
{% endblock%}
{% block content %}
    <div class = 'list_b'>
        {% for todo in todos %}
        <div class = 'list'>
            <div class = 'list_t'>
                <a href = "{% url 'detail' todo.pk %}" style = 'color:black;'> {{todo.title}} </a>
            </div>
            <div class = 'list_c'>
                {{todo.content}}
            </div>
            <div class = 'list_d'>
                {{todo.due|timeuntil}} left
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}


