{% extends 'base.html' %}
{% block title %} Log In {% endblock %}
{% block content %}
    <div class='detail_box'>
        <div class='detail_t'>
            LOGIN
        </div>
    </div>
    <div class='detail'>
        <form method = "POST">
            {% csrf_token %}
            <input type = 'text' name = 'username' placeholder = 'ID'>
            <input type = 'text' name = 'password' placeholder = 'Password'>
            <button type = 'submit'> LOGIN </button>
        </form>
    </div>
    {% if error %}
    <h3 style = 'color: red;'> {{error}} </h3>
    {% endif %}
{% endblock %}